.login-background {
  background-color: #f5f7fa;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: none !important;
}

.login-container {
  background-color: #ffffff;
  width: 390px;
  padding: 15px 55px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 2;
  margin-bottom: 35px;
}

.login-form h1 {
  text-align: center;
  color: black;
  font-size: 35px;
  margin-bottom: 15px;
  font-family: "normal";
}

.login-form h3 {
  color: black;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 25px;
}

.login-form-group {
  margin-bottom: 7px;
}

.login-form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
  color: black;
  font-size: 14px;
}

.login-form-group input {
  width: 80%;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.login-form-group input:focus {
  border-color: #2980b9;
}

.login-btn {
  width: 85%;
  padding: 8px;
  background-color:#007bff ;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: white;
  color:#2980b9;
  border: 2px solid darkblue !important;

}

.login-background::before {
  content: "";
  position: absolute;
  bottom: 70px;
  left: 10px;
  right: 10px;
  width: 450px;
  height: 450px;
  background-image: url("../patient2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.login-background::after {
  content: "";
  position: absolute;
  top: 140px;
  right: 70px;
  width: 250px;
  height: 270px;
  background-image: url("../patient1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 10;
}